<h1>Editing customer</h1>
<p style="font-size: .9em">
  <span style="font-weight: bold">Note:</span>
  This will enable the album when updated.
</p>
<%= render 'form' %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>
