<h1><%= @album.name %></h1>

<% if (@album.user_id == current_user.id) && (@photos.count < 100) %>
  <%= render :partial => 'photo_upload', :locals => {:photo => @photo, :album => @album} %>
<% end %>

<table>
  <tr>
    <%= render @photos %>
  </tr>
</table>
