<% date = nil %>
<% bh.each do |b| %>
  <% if change_datetime_to_date(b.updated_at) != date %>
    <tr>
      <td colspan="3">Blocked users for <%= change_datetime_to_date(b.updated_at) %></td>
    </tr>

    <tr>
      <td>ID</td>
      <td>Username</td>
      <td>Block Count</td>
    </tr>
    <% date = change_datetime_to_date(b.updated_at) %>
  <% end %>

  <tr>
    <td><%= b.user_id %></td>
    <td><%= b.user.username %></td>
    <td><%= get_block_count(b.user_id, b.updated_at) %></td>
    </tr>

<% end %>