<tr>
  <td><%= blocked_history.user_id %></td>
  <td><%= blocked_history.user.username %></td>
  <td><%= blocked_history.invited_user.username %></td>
  <td><%= blocked_history.updated_at %></td>
</tr>