<div class="uploaded_photo">
  <%= image_tag photo.photo.url(:medium) %><br />
  <% if current_user.id == photo.album.user_id%>
    <%= link_to "Move to another album", move_photo_path(photo) %>
  <% end %>
</div>
