<h1>Move Photo</h1>
<p>
  <%= image_tag @photo.photo.url(:medium) %>
</p>
<% form_for(@photo, :url => update_move_photo_path) do |f| %>
  <p>
    <%= f.label :album_id, "Move photo to" %>
    <%= f.collection_select :album_id, Album.where("user_id = ?", current_user.id), :id, :name %>
  </p>
  <p>
    <%= f.submit "Move" %>
  </p>
<% end %>
